:root {
  --screen-offwhite: #ffffe4;
  --screen-primary-400: rgb(109, 109, 109);
  --screen-primary-800: rgb(44, 44, 44);

  --gameboy-body-color: #f0b12d;
  --gameboy-body-ascent: #da9e21;
  --gameboy-screen-wrapper-color: #2f323a;
  --gameboy-controls-color: #393745;
  --gameboy-controls-border: #190400;
  
  --small-spacing: 2px;
}

body {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: red;
}

/*----------------------------------- Game Boy, level select and game display styling */
.gameboy-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;

  height: 740px;
  width: 450px;
  border-radius: 25px;
  border-bottom-right-radius: 100px;
  box-sizing: border-box;
  padding: 25px;

  background-color: var(--gameboy-body-color);
}

.gameboy-screen-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 45%;
  width: 95%;
  border-radius: 10px;

  margin-top: 25px;

  background-color: var(--gameboy-screen-wrapper-color);
  border-bottom-right-radius: 55px;
}

.game-screen {
  display: flex;
  justify-content: center;

  width: 240px;
  height: 240px;
  box-sizing: border-box;

  background-color: var(--screen-offwhite);
}

.screen-contents {
  display: flex;
  width: 100%;
  height: 100%;
}

.game-display {
  display: flex;
  justify-content: center;
  border-right: 15px solid var(--screen-primary-400);
  border-left: 15px solid var(--screen-primary-400);

  width: 55%;
  background-color: var(--screen-offwhite);
}

#game-screen {
  margin: 0px;
  background-color: var(--screen-offwhite);
}

.level-select-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;

  width: 100%;
  height: 100%;
  align-items: center;
  background-color: var(--screen-offwhite);
}

.level-select-label {
  font-size: 12px;
  font-weight: bold;
  line-height: .8rem;
  letter-spacing: .3rem;
  background-color: var(--screen-offwhite);
  margin: 5px;
  padding: 2px 4px;
  border-radius: 5px;
  border: 3px solid var(--screen-primary-400);
}

.level-selector-box {
  display: flex;
  flex-direction: column;
}

.level-selector-upper {
  display: flex;
  border-bottom: 5px solid rgb(146, 146, 86);
}


.level-selector-lower {
  display: flex;
  border-top: 5px solid rgb(146, 146, 86);
}

.level-option {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 27px;
  padding: 2px 0px;
  color: lightgray;
  border: 1px solid var(--screen-primary-400);
  font-size: 14px;
  font-weight: bold;
}

.active {
  color: var(--screen-primary-800);
  font-weight: bold;
}

.high-scores {
  display: flex;
}

.high-scores-left,
.score-table-left,
.score-table-right {
  display: flex;
  flex-direction: column;
  padding: 2px;
}

.high-score,
.player-name,
.score-label {
  letter-spacing: .2rem;
  font-size: 14px;
  font-weight: bold;
}

.high-scores-left,
.score-table {
  border: 1px solid var(--screen-primary-400);
}

.score-label {
  text-align: center;
  width: 27px;
}

.score-table {
  display: flex;
  width: 175px;
}

.score-table-left {
  margin-left: 5px;
}

/*---------------------------------------- Score display styling. */
.score-display-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100px;

  border-color: var(--screen-offwhite);
  border-style: solid;
  border-width: 2px 5px 2px 1px;

  background-color: var(--screen-offwhite);
}

.current-score-wrapper {
  position: relative;

  width: 100%;
  height: 25%;
}

.score-label-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  
  position: absolute;
  top: 7px;
  right: 4px;
  text-align: center;
  border-radius: 5px;
  background-color: var(--screen-offwhite);
  width: 90%;
  padding: 1px 0px;
}

.score-display-label {
  font-weight: bold;
  font-size: 12px;

  border: var(--small-spacing) solid rgb(146, 146, 86);
  border-radius: 5px;
  width: 90%;
  line-height: .8rem;
  letter-spacing: .2rem;
}

.current-score-theme-top {
  width: 100%;
  height: 33%;
  background-color: var(--screen-primary-800);
  margin-bottom: 3px;
}

.current-score-theme-middle {
  width: 100%;
  height: 18%;
  background-color: rgb(146, 146, 86);
}

.current-score-theme-bottom {
  width: 100%;
  height: auto;
  background-color: var(--screen-offwhite);
  border-top: 3px solid rgb(146, 146, 86);
  border-bottom: 3px solid rgb(146, 146, 86);
  margin: 2px 0px;
  text-align: right;
}

.score-display-text {
  font-size: 12px;
  font-weight: bold;
  margin-right: 10px;
}

.lower-display-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: var(--screen-primary-800);
  padding-top: 10px;
}

.stat-display-wrapper {
  border-radius: 5px;
  background-color: var(--screen-offwhite);
  width: 90%;
  margin-bottom: 3px;
}

.stat-display {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px 6px;
  margin: 1px;
  border: var(--small-spacing) solid rgb(146, 146, 86);
  border-radius: 5px;
}

.stat-display-label {
  font-size: 12px;

  letter-spacing: .2rem;
  font-weight: bold;
  line-height: .8rem;
  width: fit-content;
  margin-top: 2px;
}

.stat-display-text {
  font-size: 12px;
  font-weight: bold;
  margin-top: 2px;
  align-self: flex-end;
  padding-right: 8px;
}

.next-piece-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 5px;
  margin: 12px 0px;

  width: 60px;
  height: 60px;

  background-color: var(--screen-offwhite);
  padding: 2px;
}

.next-piece-inner-wrapper {
  width: 100%;
  height: 90%;
  border-radius: 5px;
  border: 2px solid rgb(146, 146, 86);
}

/*---------------------------------------- Game Over Screen. */

.game-over-wrapper {
  display: flex;
  flex-direction: column;

  background-color: var(--screen-offwhite);
  width: 75%;
}

.game-over {
  margin-top: 40px;
  padding: 1px;
  border: 3px solid var(--screen-primary-800);
  border-radius: 5px;
}

.game-over-inner {
  display: flex;
  flex-direction: column;
  border: 2px solid rgb(146, 146, 86);

  padding: 10px;
  border-radius: 5px;
}

.game-over-message {
  font-weight: bold;
  line-height: 1.5rem;
  text-align: center;
  text-decoration: underline dotted;
}

.try-again-prompt-wrapper {
  position: relative;
  top: 25px;
  display: flex;
  flex-direction: column;
  width: 100%;

  margin-bottom: 0px;
}

.try-again-prompt {
  font-weight: bold;
  text-decoration: underline dotted;
  line-height: 1.5rem;
  letter-spacing: 1px;
  font-size: 12px;
}

.prompt-two {
  margin-left: 10px;
}

.prompt-three {
  margin-left: 20px;
}

/* Gameboy Controls Styling */
.gameboy-controls {
  width: 95%;
  display: flex;
  flex-direction: column;
  margin-top: 15px;
}

.branding {
  color: var(--screen-primary-800);
  padding: 0px;
  margin: 0px;
}

.branding-company {
  font-weight: 500;
  font-size: 16px;
  color: var(--screen-primary-800);
  padding: 0px;
  margin-right: 0px;
}

.branding-system {
  font-style: italic;
  font-size: 20px;
  padding: 0px;
  margin-left: 0px;
}

.branding-trademark {
  font-size: 10px;
  font-weight: bold;
}

.upper-controls {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 50px;
}

.arrow-controls-circle {
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;

  height: 100px;
  width: 100px;
  border-radius: 50%;
  background-color: var(--gameboy-body-ascent);
}

.arrow-controls-center {
  position: absolute;
  background-color: var(--gameboy-controls-color);
  height: 25px;
  width: 25px;
}

.arrow-control {
  position: absolute;
  background-color: var(--gameboy-controls-color);
  border: none;

  height: 25px;
  width: 25px;

  box-sizing: border-box;
}

.arrow-control:hover, 
.control-btn:hover, 
.select-btn:hover {
  background-color: var(--screen-primary-400);
}

.arrow-left {
  left: 12.5px;

  border-left: 3px solid var(--gameboy-controls-border);
  border-top: 3px solid var(--gameboy-controls-border);
  border-bottom: 3px solid var(--gameboy-controls-border);
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;

}

.arrow-right {
  right: 12.5px;

  border-right: 3px solid var(--gameboy-controls-border);
  border-top: 3px solid var(--gameboy-controls-border);
  border-bottom: 3px solid var(--gameboy-controls-border);
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.arrow-top {
  top: 12.5px;

  border-top: 3px solid var(--gameboy-controls-border);
  border-left: 3px solid var(--gameboy-controls-border);
  border-right: 3px solid var(--gameboy-controls-border);
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

.arrow-bottom {
  bottom: 12.5px;

  border-bottom: 3px solid var(--gameboy-controls-border);
  border-left: 3px solid var(--gameboy-controls-border);
  border-right: 3px solid var(--gameboy-controls-border);
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

.button-controls-wrapper {
  transform: rotate(-25deg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 125px;
  height: 75px;

  margin-right: -5px;

}

.button-controls {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 125px;
  height: 50px;


  background-color: var(--gameboy-body-ascent);
  border-radius: 25px;
}

.control-btn {
  height: 40px;
  width: 40px;
  border: 3px solid var(--gameboy-controls-border);
  border-radius: 50%;
  background-color: var(--gameboy-controls-color);
}

.button-labels {
  color: #3c1600;
  font-size: 14px;
  font-weight: bold;
  display: flex;
  justify-content: space-around;
  width: 100%;

  margin-top: 5px;
}

.lower-controls {
  display: flex;
  justify-content: center;

  margin-top: 25px;
}

.select-btn-wrapper {
  transform: rotate(-25deg);
  margin: 0px 10px;
}

.select-btn {
  width: 100%;
  height: 15px;
  border-radius: 5px;
  background-color: var(--gameboy-controls-color);
  border: 1px solid var(--gameboy-controls-border);
  outline: var(--gameboy-body-ascent) 3px solid;
}

/* RESPONSIVE STYLING */

/* Gameboy / screen */
@media screen and (max-width: 450px) {
  body {
    align-items: flex-end;
  }
  .gameboy-wrapper {
    height: 575px;
    width: 350px;
    padding: 20px;
    margin-bottom: 25px;
    border-radius: 20px;
    border-bottom-right-radius: 75px;
  }

  .gameboy-screen-wrapper {  
    border-bottom-right-radius: 40px;
  }

  .game-screen {
    width: 186px;
    height: 186px;
  }

  .game-display {
    border-right: 12px solid var(--screen-primary-400);
    border-left: 12px solid var(--screen-primary-400);  
  }
}

/* Game score display */
@media screen and (max-width: 450px) {
  .score-display-wrapper {
    border-width: 1px 3px 1px 1px;
  }
  .score-label-wrapper {
    height: 16.5px;
    top: 5px;
    right: 3px;
  }

  .current-score-theme-bottom {
    font-size: 12px;
    border-top: 2px solid rgb(146, 146, 86);
    border-bottom: 2px solid rgb(146, 146, 86);
  }

  .score-display-label,
  .score-display-text,
  .stat-display-label,
  .stat-display-text {
    font-size: 10px;
    letter-spacing: .1rem;
  }

  .lower-display-wrapper {
    padding-top: 8px;
  }

  .stat-display-label {
    margin-top: 0px;
  }

  .stat-display-text  {
    margin-top: 0px;
    padding-right: 2px;
  }

  .next-piece-wrapper  {
    padding: 2px;

    box-sizing: border-box;
    width: 50px;
    height: 50px;
    margin: 6px 0px;
  }

  .next-piece-inner-wrapper {
    padding: 1px;
  }
}

/* Game over display */
@media screen and (max-width: 450px) {

  .game-over {
    margin-top: 20px;
    border-width: 2px;
  }
  
  .game-over-inner {
    padding: 5px;
    font-size: 10px;
    letter-spacing: .1rem;
  }

  .game-over-message {
    line-height: 1.25rem;
  }

  .try-again-prompt-wrapper {
    top: 40px;
  }
  
  .try-again-prompt {

    line-height: 1.25rem;
    letter-spacing: .1rem;
    font-size: 10px;
  }
  
  .prompt-two {
    margin-left: 5px;
  }
  
  .prompt-three {
    margin-left: 10px;
  }
}